<h1>Cats upon cats!</h1>

<%= link_to "Rent A Cat You Lonely Lonely Person", new_cat_rental_request_url %>
<ol>
  <% @cats.each do |cat| %>
    <li><%= link_to cat.name, cat_url(cat) %></li>
  <% end %>
</ol>

<%= link_to "Create cat", new_cat_url %>
